/* stylelint-disable linebreaks */
.App {
  text-align: center;
}

body {
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.login {
  align-items: center;
  border: 1px solid #ced4da;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  left: 50%;
  padding: 20px 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.email , .password {
  text-align: center;
}

.login-logo {
  padding-bottom: 20px;
}

.wallet {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.header img {
  height: 50px;
}

.wallet-info {
  font-weight: 600;
  padding: 10px;
}

.email-field , .total-field {
  padding: 0 20px;
}

.expense-form {
  align-items: center;
  background-color: #282c34;
  color: azure;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.padd {
  margin: 10px;
}

.expense-table {
  color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

th {
  width: 5%;
}

td {
  width: 5%;
}

thead {
  background-color: #6c757d;
}

tbody {
  background-color: white;
  color: #282c34;
}
